h1 {
  color: #9A3412;
  text-align: center;
  font-size: 2rem;
}

#tagline {
  color: #c50606;
  font-style: italic;
  text-align: center;
}

.profile-card {
  border: 12px solid #e71140;
  background-color: #d11b61;
  padding: 16px;
  margin: 20px auto;
  max-width: 500px;
  border-radius: 50px;
  text-align: center;
  filter: drop-shadow(12px 15px 5px #000000); 
}

.profile-img {
  max-width: 200%;
  border-radius: 60px;
  margin-bottom: 10px;
}

ul {
  padding-left: 20px;
  text-align: left;
}

li {
  margin-bottom: 8px;
}
